<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edytuj Przedmiot</title>
</head>
<body>
<div align="center">
    <h1>Edytuj Przedmiot</h1>
    <br />
    <form action="#" th:action="@{/przedmioty/update}" th:object="${przedmiot}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="*{nrPrzedmiotu}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Nazwa:</td>
                <td><input type="text" th:field="*{nazwa}" /></td>
            </tr>
            <tr>
                <td>Liczba godzin:</td>
                <td><input type="text" th:field="*{liczbaGodzin}" /></td>
            </tr>
            <tr>
                <td>ECTS:</td>
                <td><input type="text" th:field="*{ECTS}" /></td>
            </tr>
            <tr>
                <td>Nr Pracownika:</td>
                <td><input type="text" th:field="*{nrPracownika}" /></td>
            </tr>
            <tr>
                <td>Nr Instytutu:</td>
                <td><input type="text" th:field="*{nrInstytutu}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>