<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edytuj Instytut</title>
</head>
<body>
<div align="center">
    <h1>Edytuj Instytut</h1>
    <br />
    <form action="#" th:action="@{/instytuty/update}" th:object="${instytut}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="*{nrInstytutu}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>nazwaa:</td>
                <td><input type="text" th:field="*{nazwa}" /></td>
            </tr>
            <tr>
                <td>nr wydzialu:</td>
                <td><input type="text" th:field="*{nrWydzialu}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>