<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instytuty</title>
</head>

<body>
<div align="center">
    <!-- Page header -->
    <h1>Instytuty</h1>

    <!-- Enter to a new page -->
    <a href = "/instytuty/nowy-instytut">Dodaj nowy Instytut</a>

    <!-- Table -->
    <table border="1" cellpadding="6">

        <!-- Table head -->
        <thead>
        <tr>
            <th>Nr Instytutu</th>
            <th>Nazwa</th>
            <th>Nr Wydzialu</th>
            <th>Akcje</th>
        </tr>
        </thead>

        <!-- Table body -->
        <tbody>
        <tr th:each = "instytut: ${ListaInstytuty}">
            <td th:text="${instytut.nrInstytutu}">Nr Instytutu</td>
            <td th:text="${instytut.nazwa}">Nazwa</td>
            <td th:text="${instytut.nrWydzialu}">Nr Wydzialu</td>
            <td>
                <a th:href="@{'/instytuty/edit/' + ${instytut.nrInstytutu}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/instytuty/delete/' + ${instytut.nrInstytutu}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>