<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jezyki</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div align="center">
    <!-- Page header -->
    <h1>Jezyki</h1>

    <!-- Enter to a new page -->
    <a href = "/jezyki/nowy-jezyk">Dodaj nowy jezyk</a>
    <p style="line-height: 1cm; ">

    <!-- Table -->
    <table border="1" cellpadding="6">

        <!-- Table head -->
        <thead>
        <tr>
            <th>Nr Jezyka</th>
            <th>Kod jezyka</th>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
        </thead>

        <!-- Table body -->
        <tbody>
        <tr th:each = "jezyk: ${ListaJezykow}">
            <td th:text="${jezyk.nrJezyka}">Nr Jezyka</td>
            <td th:text="${jezyk.kodJezyka}">Kod Jezyka</td>
            <td th:text="${jezyk.nazwa}">Nazwa</td>
            <td>
                <a th:href="@{'/jezyki/edit/' + ${jezyk.nrJezyka}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/jezyki/delete/' + ${jezyk.nrJezyka}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>