<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uczelnie</title>
</head>

<body>
<div align="center">
    <!-- Page header -->
    <h1>Jezyki</h1>

    <!-- Enter to a new page -->
    <a href = "/nowy-jezyk">Dodaj nowy jezyk</a>

    <!-- Table -->
    <table border="1" cellpadding="6">

        <!-- Table head -->
        <thead>
        <tr>
            <th>ID</th>
            <th>Kod jezyka</th>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
        </thead>

        <!-- Table body -->
        <tbody>
        <tr th:each = "jezyk: ${ListaJezykow}">
            <td th:text="${jezyk.id}">ID</td>
            <td th:text="${jezyk.kodJezyka}">Kod Jezyka</td>
            <td th:text="${jezyk.Nazwa}">Nazwa</td>
            <td>
                <a th:href="@{'/edit/' + ${jezyk.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${jezyk.id}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>