<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Naukowo dydaktyczni</title>
</head>

<body>
<div align="center">
    <!-- Page header -->
    <h1>Naukowo dydaktyczni</h1>

    <!-- Enter to a new page -->
    <a href = "/naukowi/nowy-naukowy">Dodaj nowego pracownika naukowo dydaktycznego</a>

    <!-- Table -->
    <table border="1" cellpadding="6">

        <!-- Table head -->
        <thead>
        <tr>
            <th>Nr pracownika</th>
            <th>Tytul naukowy</th>
            <th>OKNO</th>
            <th>Akcje</th>
        </tr>
        </thead>

        <!-- Table body -->
        <tbody>
        <tr th:each = "naukowy: ${ListaNaukowych}">
            <td th:text="${naukowy.nrPracownika}">Nr pracownika</td>
            <td th:text="${naukowy.tytulNaukowy}">tytul naukowy</td>
            <td th:text="${naukowy.OKNO}">OKNO</td>
            <td>
                <a th:href="@{'/naukowi/edit/' + ${naukowy.nrPracownika}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/naukowi/delete/' + ${naukowy.nrPracownika}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>