<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nowe Wynagrodzenie</title>
</head>

<body>
<div align="center">
    <!-- Page header -->
    <h1>Dodaj nowe wynagrodzenie</h1>

    <!-- End line/ new line -->
    <br />

    <form action = "#" th:action="@{/wynagrodzenia/save}" th:object="${wynagrodzenie}" method="post">
        <!-- Table -->
        <table border="1" cellpadding="10">

            <!-- Table first  row -->
            <tr>
                <td>Data wynagrodzenia</td>
                <td><input type="text" th:field="*{dataWynagrodzenia}"></td>
            </tr>
            <!-- Second  row -->
            <tr>
                <td>Kwota podstawowa</td>
                <td><input type="text" th:field="*{kwotaPod}"></td>
            </tr>
            <!-- Third  row -->
            <tr>
                <td>Kwota dodatkowa</td>
                <td><input type="text" th:field="*{kwotaDod}"></td>
            </tr>
            <!-- Fourth  row -->
            <tr>
                <td>Numer pracownika</td>
                <td><input type="text" th:field="*{nrPracownika}"></td>
            </tr>

            <!-- Button save-->
            <tr>
                <td colspan="2">
                    <button type="submit"> Save</button> </td>
            </tr>
            <!-- Table body -->

        </table>
    </form>
</div>

</body>
</html>