<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nowy przedmiot</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div align="center">
    <!-- Page header -->
    <h1>Dodaj nowy przedmiot</h1>

    <!-- End line/ new line -->
    <br />

    <form action = "#" th:action="@{/przedmioty/save}" th:object="${przedmiot}" method="post">
        <!-- Table -->
        <table border="1" cellpadding="10">

            <!-- Table first  row -->
            <tr>
                <td>Nazwa</td>
                <td><input type="text" th:field="*{nazwa}"></td>
            </tr>
            <!-- Second  row -->
            <tr>
                <td>Liczba godzin</td>
                <td><input type="text" th:field="*{liczbaGodzin}"></td>
            </tr>
            <!-- Third  row -->
            <tr>
                <td>ECTS</td>
                <td><input type="text" th:field="*{ECTS}"></td>
            </tr>

            <tr>
                <td>Nr pracownika</td>
                <td><input type="text" th:field="*{nrPracownika}"></td>
            </tr>

            <tr>
                <td>Nr instytutu</td>
                <td><input type="text" th:field="*{nrInstytutu}"></td>
            </tr>

            <!-- Button save-->
            <tr>
                <td colspan="2">
                    <button type="submit"> Save</button> </td>
            </tr>
            <!-- Table body -->

        </table>
    </form>
</div>

</body>
</html>