<!<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nowy pracownik administracyjny</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div align="center">
    <!-- Page header -->
    <h1>Dodaj nowego pracownika administracyjnego</h1>

    <!-- End line/ new line -->
    <br />

    <form action = "#" th:action="@{/administracyjni/save}" th:object="${administracyjny}" method="post">
        <!-- Table -->
        <table border="1" cellpadding="10">

            <!-- Table first  row -->
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="*{nrPracownika}"  /></td>
            </tr>
            <tr>
                <td>MS OFFICE</td>
                <td><input type="text" th:field="*{msOffice}"></td>
            </tr>
            <!-- Second  row -->
            <tr>
                <td>nr biura dziekanatu</td>
                <td><input type="text" th:field="*{nrBiuraDziekanatu}"></td>
            </tr>

            <!-- Button save-->
            <tr>
                <td colspan="2">
                    <button type="submit"> Save</button> </td>
            </tr>
            <!-- Table body -->

        </table>
    </form>
</div>

</body>
</html>