<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowa uczelnia</title>
</head>

<body>
<div align="center">
    <!-- Page header -->
    <h1>Dodaj nowy jezyk</h1>

    <!-- End line/ new line -->
    <br />

    <form action = "#" th:action="@{/save}" th:object="${jezyk}" method="post">
        <!-- Table -->
        <table border="1" cellpadding="6">

            <!-- Table first  row -->
            <tr>
                <td>Kod jezyka</td>
                <td><input type="text" th:field="*{kodJezyka}" />
            </tr>
            <!-- Second  row -->
            <tr>
                <td>Nazwa</td>
                <td><input type="text" th:field="*{Nazwa}" />
            </tr>

            <!-- Button save-->
            <tr>
                <td colspan="2">
                    <button type="submit"> Zapisz</button> </td>
            </tr>
            <!-- Table body -->

        </table>
    </form>
</div>

</body>
</html>