<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nowa uczelnia</title>
</head>

<body>
<div align="center">
    <!-- Page header -->
    <h1>Dodaj nową uczelnie</h1>

    <!-- End line/ new line -->
    <br />

    <form action = "#" th:action="@{/dziekanaty/save}" th:object="${dziekanat}" method="post">
        <!-- Table -->
        <table border="1" cellpadding="10">

            <!-- Table first  row -->
            <tr>
                <td>Pokoj</td>
                <td><input type="text" th:field="*{pokoj}"></td>
            </tr>
            <!-- Second  row -->
            <tr>
                <td>numer telefonu</td>
                <td><input type="text" th:field="*{nrTelefonu}"></td>
            </tr>
            <!-- Third  row -->
            <tr>
                <td>sekcja</td>
                <td><input type="text" th:field="*{sekcja}"></td>
            </tr>
            <!-- Fourth  row -->
            <tr>
                <td>numer wydzialu</td>
                <td><input type="text" th:field="*{nrWydzialu}"></td>
            </tr>

            <!-- Button save-->
            <tr>
                <td colspan="2">
                    <button type="submit"> Save</button> </td>
            </tr>
            <!-- Table body -->

        </table>
    </form>
</div>

</body>
</html>