<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link th:href="@{/css/style-sing-up.css}"    rel="stylesheet"  type="text/css" />
</head>
<body>
<h1>Rejestracja</h1>
<form th:action="@{/sing-up}" method="post">
    Login:
    <input type="text" name="username">
    Password:
    <input type="text" name="password">
    Role:
    <input type="text" name="role">

    <input type="submit", value="sing up!">


</form>

</body>
</html>